body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
}

/* COMMON STYLE */
.box {
    width: 120px;
    height: 120px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;   
}

/* EACH BOX MOVES RELATIVE TO ITSELF */
.box1 {
    background: #4e73df;
    top: 10px;
    left: 0;
}

.box2 {
    background: #1cc88a;
    top: -15px;
    left: 10px;
}

.box3 {
    background: #f6c23e;
    top: 5px;
    left: -10px;
}
